body{
  font-family: 'Titillium Web','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $primary-text-color;
  line-height: 1.7;
  font-weight: 400;
  background-color: $body-background;
}


.form-control{
	background-color: transparent;
	box-shadow: none;
	margin-bottom: 0.5rem;
	height: auto;
	font-size: 13px;
}

.form-control:hover,.form-control:active,.form-control:focus{
	background-color: transparent;
	box-shadow: none;
}


/*SELECT Css*/
.select-css{
	width: 100%;
	border: 1px solid #ccc;
	padding: 6px;
	border-radius: 2px;
	font-size: 13px;
}

/*READONLY INPUT*/
.readonly:hover,.readonly:active,.readonly:focus{
	background-color: #ccc !important;
}
.form-control[readonly]{
	background-color: #eee !important;
}
.disabled{
	pointer-events: none;
	cursor: not-allowed;
}
.disabled:hover,.disabled:active,.disabled:focus{
	cursor: not-allowed;
	pointer-events: none;
}

#image_name{
	margin: 0;
}